@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic');

a {
  color: black;
  text-decoration: none;
}

body {
  font-family: 'Open Sans', sans-serif; 
}

.header, main {
  width: 320px;
  margin: 0 auto;
}
.header {
  margin-bottom: 48px;
}

.header__photo {
  width: 200px;
  height: 200px;
  margin-left: 60px;
  margin-bottom: 18px;

  border: 1px solid transparent;
  border-radius: 50%;
}

.header__credentials {
  margin: 0;
  margin-bottom: 36px;
  padding: 0;
  
  
  font-size: 36px;
  line-height: 36px;
  text-align: center;
}
.contacts__header {
  padding-left: 18px;
}

.contacts__list {
  margin: 0;
  padding: 0;
  padding: 0 18px;

  list-style: none;
}

.contacts__item {
  margin: 0;
  padding: 0;

  margin-bottom: 24px;
}

.contacts__lable {
  margin: 0;
  padding: 0;

  margin-bottom: 9px;

  font-size: 18px;
  line-height: 18px;
}

.contacts__description {
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 18px;
}

.block {
  margin: 0 18px;
}
.block__header {
  position: relative;
  font-size: 24px;
}

.block__header > span {
  position: absolute;
  right: 0;
  top: 30px;
  font-size: 14px;
  line-height: 14px;

  /* color: #dedede; */
  opacity: 0.2;
}

.block__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}