body {
  width: 100vw;
  height: 100vh;
  background-image: 
    linear-gradient(rgba(231, 60, 160, 0.6), rgba(58, 58, 200, 0.4)),
    url('./background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.princess {
  font-family: 'Antic Slab', serif;
  font-size: 60px;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.about {
  width: 100%;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 24px;
  font-size: 24px;
  border-radius: 16px;
  box-shadow: 5px 5px 10px purple;
}

.drum-kit {
  display: flex;
  width: 320px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.key {
  position: relative;
  cursor: pointer;
  display: flex;
  font-family: 'Antic Slab', serif;
  border: 2px solid black;
  border-radius: 16px;
  text-transform: uppercase;
  font-size: 36px;
  width: 64px;
  height: 64px;
  justify-content: center;
  align-items: center;
  transition: all 100ms;
}

.key:hover {
  background-color: rgba(126, 60, 231, 0.2);
}

.key--playing {
  transform: scale(1.1);
  border-color: deepskyblue;
  color: deepskyblue;
}

.description {
  position: absolute;
  bottom: -20px;
  font-size: 14px;
}