a {
	color: black;
}

a:hover {
	color: black;
	text-decoration: none;
}

.lead {
	max-width: 725px;
	margin-bottom: 0;
}

.calendar-grid {
    margin: auto;
    max-width: 1230px;
    padding: 0 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 15px;
    grid-auto-flow: dense;
}


@media (max-width: 515px)
{
    .calendar-grid {
        display: flex;
        flex-direction: column;
    }
}

.grid-element {
	display: flex;
	flex-direction: column;
    font-size: 1rem;
    padding: 1em;
    background-color: rgba(29, 153, 165, 0.3);
    border-radius: 5px;
	transform: scale(1);
	transition-duration: 0.3s
}

.grid-element:hover {
	background-color: rgba(189, 53, 55, 0.5);
	transform: scale(1.05);
	transition-duration: 0.3s;
}

.grid-element-3 {
    font-size: 1.5rem;
    grid-column: -1 / 1;
    background-color: rgba(251, 165, 6, 0.3);
}

.grid-element-2 {
    font-size: 1.2rem;
    grid-column: span 2;
    background-color: rgba(29, 165, 102, 0.3);
}

.grid-element__header {
    font-weight: bold;
    margin-bottom: 1rem;
}

.grid-element__text {
    margin-bottom: 0.25rem;
}